<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vermicomposter-Console</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" style="margin-top: 30px;">
      <h1 style="text-align: center;">Console Vermicomposter</h1>
      <ul class="nav nav-tabs nav-justified" style="margin-top: 60px;">
        <li role="dashboard"><a href="/">Dashboard</a></li>
        <li role="temperature"><a href="/temperature/">Temperature</a></li>
        <li role="humidity" class="active"><a href="/humidity/">Humidity</a></li>
      </ul>
      <p class="chrono"><a href="/humidity/">24h</a> | <a href="/humidity/?day=7">1 week</a> | <a href="/humidity/?day=30">1 month</a></p>
      <div class="graph" style="text-align: center;"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
      var full_data = <%- JSON.stringify(full_data) %>;
      var data_level_1 = <%- JSON.stringify(data_level_1) %>;
      var data_level_2 = <%- JSON.stringify(data_level_2) %>;
      var data_level_3 = <%- JSON.stringify(data_level_3) %>;
    </script>
    <script src="/static/js/graph.js"></script>
  </body>
</html>
